!Update.ps1
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
.clang-format
.editorconfig
/.idea
/.vs
/cmake-build-debug/.cmake/api/v1/query
/buildversion.rc
/version.rc
